*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.stk-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  align-items: center;
  flex-direction: column;
}
.stk-wrapper h3 {
  margin: 1rem 0rem;
  text-decoration: underline;
}
.stk {
  width: 300px;
  height: auto;
  margin-top: 2rem;
  box-shadow: 0 2px 7px;
  padding: 10px;
  border-radius: 2px;
}
.stk input {
  border-radius: 5px;
}
.space {
  width: 100%;
}
